@{
    ViewData["Title"] = "Home Page";
}
<div class="container text-center">
    <h1>Aplikacja stworzona na zajęcia Technologie .NET</h1>
    <img src="https://i.imgur.com/j4NmIQq.jpg"/>
</div>
