@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1> Manage content today! </h1>
<div class="container body-content">
    <div class="col-md-8">
        @RenderBody()
    </div>
    <div class="col-md-4" style="padding-top:50px;">
        <img src="https://vignette.wikia.nocookie.net/fallout/images/c/c0/VaultBoyFO3.png/revision/latest?cb=20110809182235" />
    </div>
</div>